.carousel-indicators button:active {
  background-color: blue;
  color: black;
}
.d-block {
  object-fit: cover;
}
/* .active{
    color: aqua;
} */
@media only screen and (max-width: 786px) {
  .d-block {
    height: 300px;
  }
}
@media only screen and (max-width: 425px) {
  .d-block {
    height: 170px;
  }
}
